---
---
@charset "utf-8";
html {
	font-size: 10px;
}
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 1.5rem;
$font-weight: 400;
$small-font-size: $font-size * 0.875;
$line-height: 1.5;

$space: 1.5rem;

$dark: #333;
$light: #edc;
$bg: #262324;

$color-d: #9C3C3E;
$color: lighten($color-d, 20%);
$color-l: lighten($color, 20%);

$content-width: 960px;
$on-palm: 600px;
$on-laptop: 800px;

@mixin media-query($device){
	@media screen and (max-width: $device){
		@content;
	}
}

@import
	"base",
	"_layout",
	"_syntax-highlight"
;
