//RESET BASIC ELEMENTS
html, body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul, figure {
	margin: 0;
	padding: 0;
}

//BASIC STYLING
* {
	box-sizing: border-box;
}
body {
	font-family: $font-family;
	@extend %font-body;
	background: $theme3;
}

//VERTICAL RHYTHM
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
	margin-bottom: $space/2;
}

//HORIZONTAL LINE
hr,
%horiline {
	border: none;
	background: rgba($text, $divider);
	height: 1px;
}

//IMAGES
img {
	width: 100%;
	vertical-align: middle;
}

//LISTS
ul, ol {
	margin-left: $space;
}

li {
	> ul,
	> ol {
		margin-bottom: 0;
	}
}

//HEADINGS
h1 {@extend %font-headline;}
h2 {@extend %font-title;}
h3, h4, h5, h6 {@extend %font-subheading;}

//SMOOTH TRANSITION
@mixin smooth-transition($time){
	-webkit-transition: $time ease-in-out;
	-moz-transition: $time ease-in-out;
	-o-transition: $time ease-in-out;
	transition: $time ease-in-out;
}
$bounce-out: cubic-bezier(0.7,-0.1,0.3,1.3);
@mixin bounce-transition($time){
	-webkit-transition: $time $bounce-out;
	-moz-transition: $time $bounce-out;
	-o-transition: $time $bounce-out;
	transition: $time $bounce-out;
}

//LINKS
a {
	@extend %font-body2;
	color: rgba($accent200, $primary-text);
	text-decoration: none;
}

//BLOCKQUOTES
blockquote {
	background: $theme4;
	color: $accent200;
	@include set-font(1.8rem, 200);
	letter-spacing: 1px;
	border-left: 3px solid $accent400;
	padding: 1rem 0;
	padding-left: $space;
	margin: 1rem 0;

	small {
		@include set-font(1.3rem, 200);
		margin-left: 2rem;
	}
}

//CODE FORMATTING
figure.highlight {
	pre {
		font-size: 1.5rem;
	}
	> pre {
		border: 1px solid $accent400;
		background: $theme4;
		padding: 0.8rem 1.2rem;
		overflow-x: auto;
	}
	.lineno{
		color: rgba($accent200, $secondary-text);
		margin-right: 1rem;
		padding-right: 0.5rem;
		border-right: 1px solid rgba($text, $divider);
	}
}
code.highlighter-rouge {
	background: $theme4;
	border: 1px solid $accent400;
	padding: 0.2rem;
}

//BOLD TEXT
strong {
	@extend %font-body2;
}

//BUTTONS
.button,
%button {
	@extend %font-button;
	background: $accent200;
	border: none;
	border-top: 1px solid rgba(white, 0.2);
	border-bottom: 1px solid rgba($shade, 0.2);
	border-radius: 2px;
	padding: 5px 20px;
	@include set-z(1);
	cursor: pointer;
}

//WRAPPER
.wrapper {
	width: 1160px;
	margin: 0 auto;
	@extend %clearfix;

	@include media-query($on-laptop) {
		width: 740px;
	}
	@include media-query($on-palm) {
		width: 360px;
		padding: 0 5px;
	}
	@include media-query(320px) {
		width: 100%;
	}
}

//CLEARFIX
%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
