body, html{
	background: #333;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
canvas{
	margin: 0 50%;
	transform: translateX(-50%);
	border: 1px solid white;
}

#parameterList{
	position: fixed;
	color: lightblue;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
}
.val{
	color: lightgreen;
}
