---
layout: default
---

<h1 class="page-heading">
	{{ page.title }}
	<span class="post-meta">
		{{ page.date | date: "%b %-d, %Y" }}
	</span>
	<ul class="topic-list">
		{% for topic in page.topics %}
			<li class="topic">{{ topic }}</li>
		{% endfor %}
		<a id="comment-count" href="#" data-disqus-identifier="{{ page.title }}/{{ page.date }}">0 Comments</a>
	</ul>
</h1>
{% if page.thumb %}<img src="{{ page.thumb | prepend: site.baseurl }}">{% endif %}
<hr>

<div class="post-content">
	<div id="table-of-contents-wrapper">
		<h2>
			Table of contents
		</h2>
		<ul class="table-of-contents"></ul>
		<hr>
	</div>
	
	{{ content }}

	<div id="disqus_thread"></div>

	<!--
		GENERATE TABLE OF CONTENTS
	-->
	<script type="text/javascript">
		var nodes = [".post-content > h2", 3, 4, 5, 6];
		$(nodes.join(", .post-content > h")).each(function(i, header){
			var link = $('<a>');
			$(link).attr("href", location.origin + location.pathname + "#" + header.id);
			$(link).text(header.textContent);
			var li = $('<li>').append(link);
			$(li).css("margin-left", (parseInt(header.localName.match(/[1-6]/))-2)*2 + "rem");
			$(".table-of-contents").append(li);
		});
	</script>

	<!--
		ALL THE DISQUS COMMENT SECTION LOGIC
	-->
	<script type="text/javascript">
		var disqus_config = function () {
			this.page.url = $("link[rel='canonical']").attr("href");
			this.page.identifier = "{{ page.title }}/{{ page.date }}";
		};
		(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');

			s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';

			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>

	<script>
		$("#comment-count").attr("href", $("link[rel='canonical']").attr("href") + "#disqus_thread");
	</script>
	<script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>
</div>

